body {
    font: 20px Helvetica Neue, sans-serif;
    line-height: 1.8;
    color: black;
    background-color: #EED8F3;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}