body {
    font: 20px Helvetica Neue, sans-serif;
    line-height: 1.8;
    color: black;
    /*background-color: #EED8F3;*/
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}

a:hover {
  color: #a565fb;
  background-color: transparent;
  text-decoration: none;
}

a{
  color: #2e1069;
  background-color: transparent;
  text-decoration: none;
}

h3{
  color: #2e1069;
}

.topnav {
  background-color: #6A0598;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #8B12E8;
  color: white;
}