body {
    font: 20px Helvetica Neue, sans-serif;
    line-height: 1.8;
    color: black;
    background-color: #EED8F3;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}

a:hover {
  color: #a565fb;
  background-color: transparent;
  text-decoration: none;
}

a{
  color: #2e1069;
  background-color: transparent;
  text-decoration: none;
}

h3{
  color: #2e1069;
}